.package-list {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--ui-white);
  border-right: 1px solid var(--ui-black-transparent);
  border-radius: inherit;
}

.list-wrapper {
  width: 60px;
}

.package-button {
  height: 3.25rem;
  position: absolute;
  bottom: -1;
  left: -1;
  right: -1;
  z-index: var(--z-index-extension-button);
  background: var(--motion-primary);
  box-sizing: content-box;
  border-bottom-left-radius: inherit;
}

.package-button:before {
  --fade-out-distance: 15px;

  content: '';
  position: absolute;
  top: calc(calc(-1 * var(--fade-out-distance)));
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  height: var(--fade-out-distance);
}

.button {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.button-icon {
  width: 1.75rem;
  height: 1.75rem;
}
